body {
    font-family: monospace;
    background-color: rgb(150, 150, 150);
}

.nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 10px;
    border: solid black 2px;
    background-color: rgb(70, 70, 70);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(142, 142, 142);
}

.nav li:hover {
    background-color: darkslategrey;
}

li .active {
    background-color: green;
}